@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin-ext);

body{margin-top:50px;}
.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px; }
.panel-body .table {margin-bottom: 0px; }

.sidebar-nav-fixed {
    position:fixed;
    top:60px;
    width:21.97%;
}

