/* Make something awesome! */
body{
	margin: 0px !important;
	/*padding:100px;*/
}

.wys
{
	margin-top: 50px;
}

p{
	text-align:justify;
}

/* Wysrodkowanie w pionie zawartosci tabeli */
/*td
{
	vertical-align:middle !important;
}
*/

/* Kolorowanie walidacji HTML 5 */
/*
input:invalid {
  background-color: #ffdddd;
}

input:valid {
  background-color: #7EF77E;
}

input:required {
  border-color: #800000;
  border-width: 1px;
}
*/

#formularz label{
	font-size: 5px;
    display: inline-block;
    width: 100px;
    text-align: right;
}
 

 
#formularz div{
 margin-top: 1em; 
}
 
#formularz div input{
 width: 170px;
}
 
textarea{
 vertical-align: top;
 height: 5em;
 width: 170px; 
}
 
input.invalid, textarea.invalid{
    border: 2px solid red;
}
 
input.valid, textarea.valid{
    border: 2px solid green;
}
 
.blad {
 color: red; 
}
 
.ok {
 color: green; 
}

/* ****************************************************** */


/* KOLORY LINKOW z DIALOGU*/
#dialog a:link
	{
		color: #fee051;
	}
	
#dialog a:visited
	{
		color: #fee051;
	}
	
#dialog a:hover
	{
		color: orange;
	}
	
/* MENU LOGOWANIA*/
/* , h4, .close */
 .modal-header{
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  
  /* Zmiana hasła */
  #myModal2 .modal-header{
      background-color: #428bca;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  
  /* Usuniecie*/
    #myModal3 .modal-header, #myModal4 .modal-header{
      background-color: #d9534f;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  
  .modal-footer {
      background-color: #f9f9f9;
  }

  /* Nadpisanie control label - potrzebne przy manage.php wyrowanie ikon*/
.control-label {
    text-align: left !important;
}

/* Nadpisanie bootstrap - stopk nie FIXED*/
/*.navbar-fixed-bottom
{
	position: relative !important;
	bottom: 5px !important;
}
	*/	
		.okno
		{
			z-index: 999999;
			position: fixed;
			width: 225px;
			top: 50%;
			left: -102px;
			border-width: 2px 2px 2px 2px;
			border-style: solid;
			border-color: #285e8e;
			transform: rotate(-90deg);
			text-align: center;
			background-color: #3276b1;
			border-radius: 0 0 10px 10px;
			opacity: 0.5;
		}
		
		.text
		{
			color: #dddddd;
			padding: 5px 0 3px 0px;
		}
		
		.ikona
		{
			transform: rotate(-270deg);
			color: #285e8e;
		}
		
		.okno:hover
		{
			opacity: 0.9;
		}
		
		.okno a:hover 
		{
			text-decoration: none !important;
		}	
		
		/* STOPKA na dole*/
		footer 
		{
			position:fixed;
			bottom:0;
			width:100%;
			/*background-color:black;*/

		}
		html 
		{
			height:100%;
		}
		body 
		{
			min-height:100%;
			position:relative;
		}
		/* Stopka na dole caly czas */
		.footOnBottom
		{
			position:absolute;
		}
		
		.white
		{
			background-color: white !important;
		}

		/* KOLOROWANIE IKONEK EDYCJI */
		.pencil-icon:hover
		{
			color: #4acf4a;
			cursor: pointer;
			transform:scale(1.5); -webkit-transform:scale(1.5); -moz-transform:scale(1.5); -o-transform:scale(1.5);
			/*font-size: 19px;*/
		}
		.trash-icon:hover
		{
			color: #f22c26;
			cursor: pointer;
			transform:scale(1.5); -webkit-transform:scale(1.5); -moz-transform:scale(1.5); -o-transform:scale(1.5);
			/*font-size: 19px;		*/	
		}
		
		/* Wyrownanie divow */
		.align-div
		{
			padding-left: 0px !important;
			padding-right: 0px !important;
		}
		
		/* Kolor spana po edycji komentarza */
		.commentEdit
		{
			color: #4acf4a;
			font-weight: lighter;
		}
		
		/* LIstowanie plikow do pobrania w artykulach */
		.listedFiles
		{
			list-style-type:none;  
			padding: 0; 
			margin: 0;
		}
		
		