/* Make something awesome! */
body{
	margin: 0px !important;
	padding:50px;
}

p{
	text-align:justify;
}

/* KOLORY LINKOW z DIALOGU*/
#dialog a:link
	{
		color: #fee051;
	}
	
#dialog a:visited
	{
		color: #fee051;
	}
	
#dialog a:hover
	{
		color: orange;
	}
	
/* MENU LOGOWANIA*/
	 .modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 20px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }


